.lk{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.boxtv{
    width: 950px;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
}

p{
    margin-bottom: 30px;
    font-size: 10pt;
    color: white;
    font-family: Montserrat;
}

.head{
    width: 900px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    text-align:center;
}

#ch_input{
    width: 350px;
}

.box_ch{
    width: 350px;
    max-height: 700px;
    font-size: 13px;
    overflow: auto;
}

#load_it{
    float: right;
}
